___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal=pd.read_csv("Salaries.csv")

C:\Users\hp\AppData\Local\Temp\ipykernel_11136\845558534.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal=pd.read_csv("Salaries.csv")

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [33]:
sal.isnull().sum()

Id                      0
EmployeeName            0
JobTitle                0
BasePay                 0
OvertimePay             4
OtherPay                0
Benefits            36159
TotalPay                0
TotalPayBenefits        0
Year                    0
Agency                  0
dtype: int64

In [23]:
sal.drop("Notes",axis=1,inplace=True)
sal.drop("Status",axis=1,inplace=True)

In [32]:
sal["OvertimePay"].dropna(inplace=True)

In [30]:
sal["BasePay"].fillna(28.0,inplace=True)

** Use the .info() method to find out how many entries there are.**

In [34]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148654 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Agency            148654 non-null  object
dtypes: float64(4), int64(2), object(5)
memory usage: 12.5+ MB

**What is the average BasePay ?**

In [35]:
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce')  # 'coerce' to handle non-numeric values

# Calculate the average BasePay
avg_base_pay = sal['BasePay'].mean()

print("Average BasePay:", avg_base_pay)

Average BasePay: 66053.84399740338

** What is the highest amount of OvertimePay in the dataset ? **

In [36]:
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'], errors='coerce')  # 'coerce' to handle non-numeric values

# Find the highest amount of OvertimePay
max_ot = sal['OvertimePay'].max()
max_ot

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [37]:

# Convert 'EmployeeName' and 'JobTitle' columns to uppercase for case-insensitive matching
sal['EmployeeName'] = sal['EmployeeName'].str.upper()
sal['JobTitle'] = sal['JobTitle'].str.upper()

# Find the job title of "JOSEPH DRISCOLL" (in all caps)
jt = sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL', 'JobTitle'].values[0]

print( jt)

CAPTAIN, FIRE SUPPRESSION

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [38]:

sal['EmployeeName'] = sal['EmployeeName'].str.upper()

# Find the total pay (including benefits) of "JOSEPH DRISCOLL" (in all caps)
total = sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL', 'TotalPayBenefits'].values[0]

print(total)

270324.91

** What is the name of highest paid person (including benefits)?**

In [51]:
highbf= sal.loc[sal['TotalPayBenefits'].idxmax()]
highbf

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Agency                                               San Francisco
JobTitleLength                                                  46
Name: 0, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [49]:
lowbf= sal.loc[sal['TotalPayBenefits'].idxmin()]
lowbf

Id                                      148654
EmployeeName                         JOE LOPEZ
JobTitle            COUNSELOR, LOG CABIN RANCH
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Agency                           San Francisco
JobTitleLength                              26
Name: 148653, dtype: object

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [47]:
saldf= sal[(sal['Year'] >= 2011) & (sal['Year'] <= 2014)]

avgbs = saldf.groupby('Year')['BasePay'].mean()

print(avgbs)

Year
2011    63595.956517
2012    65436.406857
2013    68510.282616
2014    66557.440688
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [44]:
sal['JobTitle'].nunique()

1637

** What are the top 5 most common jobs? **

In [42]:
top_5_jobs = sal['JobTitle'].value_counts().head(5)
top_5_jobs

TRANSIT OPERATOR    9424
SPECIAL NURSE       5791
REGISTERED NURSE    4955
CUSTODIAN           3214
FIREFIGHTER         3153
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [45]:
year =sal[sal['Year'] == 2013]

c= year['JobTitle'].value_counts()

c1 = (c == 1).sum()

c1

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [39]:

sal['JobTitle'] = sal['JobTitle'].str.upper()


count = sal[sal['JobTitle'].str.contains('CHIEF')].count()

print(count)

Id                  627
EmployeeName        627
JobTitle            627
BasePay             627
OvertimePay         627
OtherPay            627
Benefits            423
TotalPay            627
TotalPayBenefits    627
Year                627
Agency              627
dtype: int64

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [46]:
sal['JobTitleLength'] = sal['JobTitle'].apply(len)

correlation = sal['JobTitleLength'].corr(sal['TotalPayBenefits'])
correlation

-0.03687844593260708

# Great Job!